﻿@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4" style="padding-left: 0 !important;">
            <a href="/" style="color: black">
                <div style="display:inline-block;vertical-align:top;">
                    <img src="sternsinger.jpg" alt="Home" style="height: 3.5rem;">
                </div>
                <div style="display:inline-block;margin: 0;top: 50%;transform: translateY(-50%);position: sticky;">
                    <h5 style="margin: 0;">Sternsinger WdS/Merklingen</h5>
                </div>
            </a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>