@page "/admin"
@using Sternsinger.Shared
@using SternsingerAPI
@using DbRegistration = SternsingerAPI.DbRegistration
@using JfException = SternsingerAPI.JfException
@using Region = Sternsinger.Shared.Region
@using SelectedTime = Sternsinger.Shared.SelectedTime
@using Timeframe = Sternsinger.Shared.Timeframe
@using Day = Sternsinger.Shared.Day
@inject HttpClient Http
@inject IJSRuntime JsRuntime

<h3>Willkommen zum Sternsinger-portal f&uuml;r Administratoren!</h3>

@if (_signedIn)
{
    <a class="btn btn-primary" href="@(new Uri(Http.BaseAddress!, "misc/export.xlsx?password=" + Uri.EscapeDataString(_pwdBoxText)).AbsoluteUri)">Export</a>
    <input class="form-control" placeholder="Suche" type="text" @bind=_search @onkeyup="FilterRegistrations">
    <table class="table table-bordered">
        <tr>
            <th scope="col">Gebiet</th>
            <th scope="col">Haus</th>
            <th scope="col">Name</th>
            <th scope="col">Nummer</th>
            <th scope="col">Gew&auml;hlte Tage</th>
            <th scope="col">Optionen</th>
        </tr>
        <Virtualize Items="@_registrations">
            <tr>
                <td>@(((Region)(int)context.Value.Region).GetDisplayString())</td>
                <td>@context.Value.House</td>
                <td>@context.Value.Name</td>
                <td>@context.Value.PhoneNumber</td>
                <td>@(context.Value.SelectedDays == null ? "null" : context.Value.SelectedDays.Select(day => new SelectedTime { Day = (Day)(int)day.Day, Timeframe = (Timeframe)(int)day.Timeframe }).GetDisplayString((Region)(int)context.Value.Region))</td>
                <td>
                    <button class="btn btn-danger" @onclick="() => DeleteRegistration(context.Key)">L&ouml;schen</button>
                </td>
            </tr>
        </Virtualize>
    </table>
}
else
{
    <input class="form-control" placeholder="Passwort" @bind="_pwdBoxText" type="password" @onkeyup="PwdPressKey">
}

<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="errorModalLabel">@_errorTitle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">@_errorText</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" @onclick="ErrorModalOK">OK</button>
            </div>
        </div>
    </div>
</div>

@code {
    private Dictionary<Guid, DbRegistration> _registrations = new();
    private Dictionary<Guid, DbRegistration> _registrationsD = new();
    private string _errorText = "";
    private string _errorTitle = "";
    private SternsingerApi? _api;
    private bool _signedIn;
    private string _pwdBoxText = "";
    private string _search = "";

    private async Task FetchData()
    {
        try
        {
            _registrationsD = (await _api!.GetRegistrationsAsync(_pwdBoxText))
                .ToDictionary(s => Guid.Parse(s.Key), s => s.Value);
            await FilterRegistrations();
        }
        catch (Exception e)
        {
            await ShowError(e);
        }
    }

    private async Task FilterRegistrations()
    {
        _registrations = _registrationsD
            .Where(s =>
            {
                DbRegistration r = s.Value;
                List<string> options = [r.House, r.Name, r.PhoneNumber, ((Region)(int)r.Region).GetDisplayString()];
                if (r.SelectedDays != null)
                    options.AddRange(r.SelectedDays.Select(s => ((Day)(int)s.Day).GetDisplayString((Timeframe)(int)s.Timeframe, (Region)(int)r.Region)));
                return options.Any(t => t.Contains(_search));
            })
            .ToDictionary(s => s.Key, s => s.Value);
    }

    private async Task DeleteRegistration(Guid k)
    {
        try
        {
            await _api!.RemoveRegistrationAsync(_pwdBoxText, k);
            await FetchData();
        }
        catch (Exception e)
        {
            await ShowError(e);
        }
    }

    private async Task ErrorModalOK()
    {
        await HideDialog("errorModal");
    }

    protected override async Task OnInitializedAsync()
    {
        _api = new SternsingerApi(Http.BaseAddress!.AbsoluteUri, Http);
        await base.OnInitializedAsync();
    }

    private async Task PasswordChange(bool msgOnZero)
    {
        try
        {
            _signedIn = await _api!.CheckPasswordAsync(_pwdBoxText);
            if (_signedIn)
                await FetchData();
            else if (msgOnZero)
            {
                await ShowMessage("Inkorrektes Passwort", "Das angegebene Passwort ist falsch");
                _pwdBoxText = "";
            }
        }
        catch (Exception e)
        {
            await ShowError(e);
        }
    }

    private async Task PwdPressKey(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await PasswordChange(true);
        }
    }

    private async Task ShowMessage(string title, string message)
    {
        _errorText = message;
        _errorTitle = title;
        await ShowDialog("errorModal");
    }

    private async Task ShowError(Exception e)
    {
        Console.WriteLine(e);
        if (e is ApiException<JfException> a)
            await ShowMessage(a.Result.Message, a.Result.Details);
        else
            await ShowMessage("Ein unbekannter Fehler trat ein. Versuchen sie es später erneut!", e.Message);
    }

    private async Task HideDialog(string id) => await JsRuntime.InvokeVoidAsync("dialog", "#" + id, "hide");

    private async Task ShowDialog(string id) => await JsRuntime.InvokeVoidAsync("dialog", "#" + id, "show");
}