﻿@page "/"

<h1>Willkommen zur Sternsingerbestellung 2026!</h1>

Die Sternsinger in Weil der Stadt mit Teilorten und Ostelsheim sind dieses Jahr wieder von Haus zu Haus unterwegs.<br>
Wenn Sie aber nur an bestimmten Tagen zu Hause sind, können Sie hier einen Besuch buchen.<br>
Danke.<br>
<br>
<br>
<a href="register">Hier geht's zur Sternsingerbestellung.</a>


<small style="position: fixed; left: 0; bottom: 0;">
    Erstellt von <a href="https://jfronny.gitlab.io/home/" target="_blank">JFronny</a> -
    <a href="admin">Admin UI</a> -
    <a href="https://gitlab.com/kirchewds/sternsinger" target="_blank">Quelle</a> -
    <a href="/sternsinger/swagger" target="_blank">Swagger</a>
</small>