﻿@page "/register"
@using Sternsinger.Shared
@using SternsingerAPI
@using Region = Sternsinger.Shared.Region
@using Registration = SternsingerAPI.Registration
@using SelectedTime = Sternsinger.Shared.SelectedTime
@using Timeframe = Sternsinger.Shared.Timeframe
@using Day = Sternsinger.Shared.Day
@using JfException = SternsingerAPI.JfException
@inject HttpClient Http
@inject IJSRuntime JsRuntime
@inject NavigationManager Nav

<h1>Sternsingerbestellung</h1>
<input class="form-control" placeholder="Vorname" type="text" @bind="_name2">
<input class="form-control" placeholder="Nachname" type="text" @bind="_name1">
<input class="form-control" placeholder="Straße mit Hausnummer." type="text" @bind="_house">
<input class="form-control" placeholder="Telefon (für eventuelle Rückfragen)" type="text" @bind="_phone">
<div class="dropdown">
    Ort:
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @_region.GetDisplayString()
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (Region s in _regions)
        {
            <button class="dropdown-item" @onclick="() => _region = s">@s.GetDisplayString()</button>
        }
    </div>
</div>
<h2>M&ouml;gliche Tage / Zeiten:</h2>
@foreach (SelectedTime time in _times[_region])
{
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id=@("inlineCheckbox" + time) value=@("option" + time) checked=@_selectedTimes.Contains(time) @onchange="@(e => { if (bool.Parse(e.Value!.ToString()!)) _selectedTimes.Add(time); else _selectedTimes.Remove(time); })">
        <label class="form-check-label" for=@("inlineCheckbox" + time)>@time.Day.GetDisplayString(time.Timeframe, _region)</label>
    </div>
    <br>
}
<br>
<button @onclick="SendRegistration" class="btn btn-primary">OK</button>
<br>
Gerne dürfen Sie uns auch mehrere Termine zur Auswahl stellen.
Das erleichtert den Gruppen die Planung und lange Laufstrecken zwischen zwei Terminen können damit u.U. vermieden werden

<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="errorModalLabel">@_errorTitle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">@_errorText</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" @onclick="ErrorModalOK">OK</button>
            </div>
        </div>
    </div>
</div>

@code {
    private string _name1 = "";
    private string _name2 = "";
    private string _house = "";
    private string _phone = "";
    private Region _region = Region.WeilDerStadt;
    private readonly List<SelectedTime> _selectedTimes = [];

    private bool _completed = false;

    private static readonly Region[] _regions = Enum.GetValues<Region>();

    private static readonly Dictionary<Region, SelectedTime[]> _times = _regions
        .ToDictionary(r => r, r => Enum.GetValues<Day>()
            .SelectMany(day => Enum.GetValues<Timeframe>()
                .Where(frame => frame.IsValid(day, r))
                .Select(timeframe => new SelectedTime { Day = day, Timeframe = timeframe })
            )
            .ToArray());

    private string _errorText = "";
    private string _errorTitle = "";
    private SternsingerApi? _api;

    protected override void OnInitialized()
    {
        _api = new SternsingerApi(Http.BaseAddress!.AbsoluteUri, Http);
    }

    private async Task ErrorModalOK()
    {
        await HideDialog("errorModal");
        if (_completed) Nav.NavigateTo("/");
    }

    private async Task SendRegistration()
    {
        try
        {
            await _api!.RegisterAsync(new Registration
            {
                Name = _name1 + "," + _name2,
                House = _house,
                PhoneNumber = _phone,
                Region = (SternsingerAPI.Region)(int)_region,
                SelectedDays = _selectedTimes.Select(time => new SternsingerAPI.SelectedTime
                {
                    Day = (SternsingerAPI.Day)(int)time.Day,
                    Timeframe = (SternsingerAPI.Timeframe)(int)time.Timeframe
                }).ToList()
            });
            await ShowMessage("Erfolg", "Erfolgreich registriert");
            _completed = true;
        }
        catch (ApiException<JfException> jfException)
        {
            await ShowError(jfException.Result);
        }
        catch (Exception e)
        {
            await ShowError(e);
        }
    }

    private async Task ShowMessage(string title, string message)
    {
        _errorText = message;
        _errorTitle = title;
        await ShowDialog("errorModal");
    }

    private async Task ShowError(Exception e)
    {
        Console.WriteLine(e);
        await ShowMessage("Ein unbekannter Fehler trat ein. Versuchen sie es später erneut!", e.Message);
    }

    private async Task ShowError(JfException jfException)
    {
        Console.WriteLine(jfException);
        await ShowMessage(jfException.Message, jfException.Details);
    }

    private async Task HideDialog(string id) => await JsRuntime.InvokeVoidAsync("dialog", "#" + id, "hide");

    private async Task ShowDialog(string id) => await JsRuntime.InvokeVoidAsync("dialog", "#" + id, "show");
}