﻿.spinner-title-lower {
    top: calc(50% + 100px);
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
}

.spinner-title-upper {
    top: calc(50% - 110px);
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
}

@keyframes spinnder-inner {
    0% {
        background: #c7ea2b
    }

    12.5% {
        background: #c7ea2b
    }

    12.625% {
        background: rgba(199, 234, 43, 0.5192903481760333)
    }

    100% {
        background: rgba(199, 234, 43, 0.5192903481760333)
    }
}

.spinnder-inner div {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(199, 234, 43, 0.5192903481760333);
    animation: spinnder-inner 1s linear infinite;
}

.spinner {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    position: fixed;
}

.spinnder-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.spinnder-inner div {
    box-sizing: content-box;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
